<div style="margin: 20px;">
  <div style="display: flex; justify-content: space-between">
    <div style="flex: 1; margin-right: 10px">
      <div>
        <strong style="font-size: medium"
          >Scenario 1: Progress Note in Add Mode</strong
        >
        <div #scenario1
          contenteditable="true"
          id="scenario1"
          class="spell-check-sapling"
        >
        </div>
      </div>
    </div>
    <div style="flex: 1">
      <div>
        <strong style="font-size: medium"
          >Scenarios you can test</strong
        >
        <ul>
          <li>Spell Check As You Type</li>
          <li>Spell Check When You Copy and Paste With Typos</li>
          <li>Spell Check When You Edit In Between A Paragraph With Typos</li>
          <li>Accept The Suggested Changes For The Typos</li>
          <li>After Accepting The Changes, Add Some Text In-between The Paragraph</li>
          <li>Etc....</li>
        </ul>
      </div>
    </div>
  </div>
</div>
