<div style="margin: 20px;">
  <div style="display: flex; justify-content: space-between">
    <div style="flex: 1; margin-right: 10px">
      <div>
        <strong style="font-size: medium"
          >Scenario 1: Progress Note in Edit Mode (Paragraph with few number of sentences)</strong
        >
        <div #scenario2
          contenteditable="true"
          id="scenario2"
          class="spell-check-sapling"
        >
          The patient was admited with sever abdominal pain and diagonsed with acute apendicits.
          His past medical hystory included diabates, hypertention, and a previos heart attak.
          The docter prescribed antbiotics, analgecis, and a stroid to manage his symptoms.
          They advised that he should follow a strict deit to avoid future complicatons.
          Unfortunatelly, the patient was also suffering from allegric reactions to some of the medicaton prescribed.
          The medical team was careful to monitor his blood presure and suger levels during his stay.
          Despite the challanges, they are hopeful for a full recovery.
          However, the patient continous to be non-compliant with the treatment regime, which could jeoperdize his health.
          It is crucial that he understand the importance of following medical advices to prevent further deterioation of his condition.
          The staff is commited to providing the best care and support during his healing process.
        </div>
      </div>
    </div>
  </div>
</div>
