<div style="margin: 20px;">
  <div style="display: flex; justify-content: space-between">
    <div style="flex: 1; margin-right: 10px">
      <div>
        <strong style="font-size: medium"
          >Scenario 1: Progress Note in Edit Mode (With Paragraph and SOAP Text)</strong
        >
        <div #scenario4
          contenteditable="true"
          id="scenario4"
          class="spell-check-sapling"
        >
          <div class="btnComponent_Attached" unselectable="on" style="cursor: pointer; background-color: antiquewhite; border: 1px solid burlywood;" contenteditable="false">
            <table border="0" width="100%" cellpadding="0" cellspacing="0" class="tblButton hover-effect">
                <tbody>
                    <tr>
                        <td style="text-align:left">
                            <font face="arial" id="Comp_Heading" class="Comp_Heading_Attached">
                                Physical Exam
                            </font>
                        </td>
                    </tr>
                    <tr id="traDetail" class="traDetail_Attached">
                        <td>
                            <label contenteditable="false" class="compLbl" id="lbl">
                                <font face="arial" id="Comp_Heading_Detail" class="Comp_Heading_Detail">
                                    <font color="blue">
                                        The neck examination revealed no abnormalties. On inspection, the neck appeared symetrical with no visible masses, sweling, leisons, or discoloration. The skin was intact, and the treachea was midline.
                                    </font>
                                    <br>
                                    <b>General</b>
                                    <br>&nbsp;(Deferred)&nbsp;
                                    <u>Appearance</u>:&nbsp;
                                    Demeanor
                                    <font color="blue">During palpation, the thyriod gland was euthoroid, with no palpable enlargment (goiter) or noduls and was non-tender. Cervical lymphadenopathy was abscent; both the supraclavicular and submandiblar ly</font>
                                    : In Acute Distress
                                    <font color="blue">The neck examination revealed no abnormalties. On inspection, the neck appeared symetrical with no visible masses, sweling, leisons, or discoloration. The skin was intact, and the treachea was midline
                                    </font>
                                    , Unkempt; Development: Underdeveloped, Emaciated
                                    <br>
                                    <b>Neck</b>
                                    <br>
                                    <br>
                                    <font color="blue">The neck examination revealed no abnormalties. On inspection, the neck appeared symetrical with no visible masses, sweling, leisons, or discoloration. The skin was intact, and the treachea was midline
                                    </font>
                                    <br>
                                    <br>
                                    <b>
                                        Respiratory
                                    </b>
                                    <br>
                                        <u>Inspection</u>:&nbsp;
                                        Skin/Chest Wall: Prominent Arteries, Subcutaneous Edema; Thorax Shape: Barrel-Shapped; Breathing: Paradoxical Breathing
                                    <br>
                                </font>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>

          <p class="seprator" style="margin-top: 10px; margin-bottom: 10px;">
            <span style="font-weight: bold; font-size: x-large;">
                Physical exam summary
            </span>
            <br>
            <br>
            The neck examination revealed no abnormalties. On inspection, the neck appeared symetrical with no visible masses, sweling, leisons, or discoloration. The skin was intact, and the treachea was midline.
            <br>
            <br>
            During palpation, the thyriod gland was euthoroid, with no palpable enlargment (goiter) or noduls and was non-tender. Cervical lymphadenopathy was abscent; both the supraclavicular and submandiblar lymph nodes were non-tender and not enlarged. The treachea was midline and mobile. Carotid artery pulsations were symetrical bilateraly, with no carodit bruits detected upon ausculation.
            <br>
            <br>
            The patient exhibited a full range of motion in the cervicle spine, demonstrating flexion, extention, and lateral rotation without pain or discomfort. There were no signs of jugular venous distension. The patient denied any cervicaglia or nuchal stiffness.
            <br>
            <br>
            In conclusion, the physical examination of the neck was unremarkable. No further diagnostic workup or therapeutic intervetion is indicated at this time.
            <br>
            <br>
            The findings indicate a healthy cervicle region with no evidence of pathollogy. Routine monitoring and standard care continue to be appropriate unless new symtoms develop.
            <br>
            <br>
            This summary encapsulates the comprehensive assesment conducted, reinforcing the conclusion of an unremarkable neck examination.
          </p>

          <div contenteditable="false" style="cursor: pointer; background-color: antiquewhite; border: 1px solid burlywood;" unselectable="on" class="btnComponent_Attached">
            <table class="tblButton hover-effect" cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                    <tr>
                        <td style="text-align:left">
                            <font class="Comp_Heading_Attached" id="Comp_Heading" face="arial">
                                History Of Present Illness
                            </font>
                        </td>
                    </tr>
                    <tr class="traDetail_Attached" id="traDetail">
                        <td>
                            <label id="lbl" class="compLbl" contenteditable="false">
                                <font class="Comp_Heading_Detail" id="Comp_Heading_Detail" face="arial">
                                    <b>CC:</b>
                                    nnn and Nouman complaint
                                    <br>
                                    <b>HPI: </b>
                                    <br>
                                    A 27 year old male patient presents with nnn.  Since last visit, it has become worse. Pattern of condition is persistent This summarry provides a comprehensive overview of the patient's cardiovascular system, showing no abnormalties. Symptom is completed. Severity of condition is  severe. Onset is  This summarry provides a comprehensive overview of the patient's cardiovascular system, showing no abnormalties. It occurs in increasing course.
                                    <br>
                                    <br>
                                    In addition he presents with Nouman complaint.
                                    <br>
                                </font>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>

          <p class="seprator" style="margin-top: 10px; margin-bottom: 10px;">
            <b>
                History of Present Illness
            </b>
            <br>
            <br>
            <span style="font-size: small; letter-spacing: 0px;">
                The patient presents with no complaints of chest pain, presure, or discomfort. They report no incidences of palpitatons, tachycrdia, or irreglar heart beats. The patient denies experiencing shortness of breath, dysnea on exertion, orthopnea, or paroxysmal nocturnal dysnia. There have been no episodes of syncope, diziness, or fainting.
            </span>
            <span style="font-size: small;">
                <br>
                There are no signs or symtoms of peripheral edma, claudication, or varicose veines. The patient has not experienced any recent changes in exercize tolerance or unusual fatige. They deny any complaints of cyanosis or cold extremitties.
                <br>
                <br>
                The patient has no history of hypertention, hyperlipidemia, or previous cardiovascular events such as myocardial infarction, angina, or congestive heart failure. They do not report any episodes of thromboembolic events like deep vein thrombosis or pulmonary embolism.
                <br>
                <br>
                Overall, the patient's cardiovascular review of systems is unremarkeable, with no current symtoms or significant past medical history suggesting cardiovascular disease. Routine monitoring and standard preventive measures are recomended to maintain cardiovascular health.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
