<!-- <div contenteditable="true" id="editableDiv">
  Type here to check spelling...
</div>
<button (click)="checkSpelling()">Check Spelling</button> -->

<div style="display: flex; justify-content: space-between">
  <div style="flex: 1; margin-right: 10px">
    <div>
      <strong style="font-size: medium"
        >You can write your text here for Sapling.....</strong
      >
      <div
        contenteditable="true"
        id="sapplingDiv"
        class="spell-check-sapling"
      >
        <!-- Sapling content goes here -->
        The quick brown fox jumps over the lazy dogs back. Its surprising how it can jump that far given it's small size. Even more intersting is the fact that the dogs doesn't seem to be bother by it. They just lays there, not even acknoledging the fox's feat. Its really a sight to behold, especilly if you've never seen anythink like it before.
      </div>
    </div>
  </div>
  <div style="flex: 1">
    <!-- Add your comparison content here for Sapling -->
    <div>
      <strong style="font-size: medium"
        >Comparison content for Sapling goes here:</strong
      >
      <ul>
        <li>Spell Check in Div: <strong>Yes</strong></li>
        <li>Check As You Write: <strong>Yes</strong></li>
        <li>Suggest Corrections: <strong>Yes</strong></li>
        <li>Custom Dictionary Support: <strong>Yes(csv)</strong></li>
        <li>Add to dictionary: <strong>No</strong></li>
        <li>Auto Correction: <strong>No</strong></li>
        <li>Ignore Settings: <strong>No</strong></li>
        <li>Medical Dictionary: <strong>Yes</strong></li>
        <li>Grammar checker: <strong>Yes</strong></li>
        <li>Hosting: <strong>Cloud</strong></li>
        <li>External Dependency: <strong>N/A</strong></li>
        <li>Downloads: <strong>3,324</strong></li>
        <li>Open Issues: <strong>1</strong></li>
        <li>Bundle Size: <strong>1.15 MB</strong></li>
        <li>Last Update: <strong>month ago</strong></li>
        <li>Pricing: <strong>980$ / month (30 million chars)</strong></li>
        <li>
          Issue:
          <strong
            >Sometimes init call takes alot of time and stays in pending
            state</strong
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: space-between">
  <div style="flex: 1; margin-right: 10px">
    <div>
      <strong style="font-size: medium"
        >You can write your text here for WProofReader.....</strong
      >
      <div #editorContent
        contenteditable="true"
        id="wProofReaderDiv"
        class="spell-check-sapling"
      >
        <p>The quick brown fox jumps over the lazy dogs back.</p>
        <div contenteditable="false" class="ignore">
          <div class="ignore">How are you?</div>
        </div>
        <!-- WProofReader content goes here -->
      </div>
    </div>
  </div>
  <div style="flex: 1">
    <!-- Add your comparison content here for WProofReader -->
    <div>
      <strong style="font-size: medium"
        >Comparison content for WProofReader goes here:</strong
      >
      <ul>
        <li>Spell Check in Div: <strong>Yes</strong></li>
        <li>Check As You Write: <strong>Yes</strong></li>
        <li>Suggest Corrections: <strong>Yes</strong></li>
        <li>Custom Dictionary Support: <strong>Yes</strong></li>
        <li>Add to dictionary: <strong>Yes</strong></li>
        <li>Auto Correction: <strong>Yes</strong></li>
        <li>Ignore Settings: <strong>Yes</strong></li>
        <li>Medical Dictionary: <strong>Yes</strong></li>
        <li>Grammar checker: <strong>Yes</strong></li>
        <li>Hosting: <strong>Cloud</strong></li>
        <li>External Dependency: <strong>N/A</strong></li>
        <li>Downloads: <strong>262</strong></li>
        <li>Open Issues: <strong>0</strong></li>
        <li>Bundle Size: <strong>27.2 kB</strong></li>
        <li>Last Update: <strong>2 days ago</strong></li>
        <li>Pricing: <strong>576$ / year</strong></li>
      </ul>
    </div>
  </div>
</div>
